---
providers:
  kubernetesGateway:
    enabled: true
  kubernetesIngress:
    enabled: false
ports:
  web:
    port: {{ ingress_http_port }}
    expose:
      default: true
    exposedPort: {{ ingress_http_port }}
    protocol: TCP
{%- if https_enabled %}
  websecure:
    port: {{ ingress_https_port }}
    expose:
      default: true
    exposedPort: {{ ingress_https_port }}
    protocol: TCP
    allowACMEByPass: false
    http:
      tls:
        enabled: true
        options: ""
        certResolver: ""
        domains: []
{%- endif %}
gateway:
  enabled: false
...
