{
  "KeyAlgorithm":"RSA_2048",
  "SigningAlgorithm":"SHA256WITHRSA",
  "Subject": {
    "Country":"US",
    "Organization":"DVE",
    "OrganizationalUnit":"Development",
    "State":"CA",
    "Locality":"Sunnyvale",
    "CommonName":"Intermediate CA {{ component }}"
  }
}
